<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atencion_Ciudadana.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Atencion_Ciudadana.My.MySettings>
            <setting name="sUser" serializeAs="String">
                <value />
            </setting>
            <setting name="sMsg" serializeAs="String">
                <value>Atención Ciudadana</value>
            </setting>
            <setting name="sAreaID" serializeAs="String">
                <value />
            </setting>
            <setting name="sTipo" serializeAs="String">
                <value />
            </setting>
        </Atencion_Ciudadana.My.MySettings>
    </userSettings>
</configuration>